body{
    margin: 0 auto;
}
*{
    font-family: 'Nanum Gothic', sans-serif;
}
.done{
    text-decoration: line-through;
}
i{
    color: green;
}
.question{
    padding: 3px 8px;
    font-size: 13px;
    font-weight: bold;
}
.question:hover{
    cursor: pointer;
}

.header{
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
}
.header a{
    color:rgb(0, 0, 0); 
    text-decoration: none;
}
#main{
    margin: 0 auto;
    margin-top: 20px;
}
.list-item {
    border-bottom: 1px solid #eaeaea;
    margin-right: 32px;
    padding: 10px;
    font-size: 14px;
    list-style: none;
}
.list-item2 {
    border-bottom: 1px solid #eaeaea;
    margin-right: 32px;
    padding: 10px;
    font-size: 14px;
    list-style: none;
}
.list-item2{
    display: flex;
    justify-content:space-evenly;
}
#container-box-table{
    justify-content: space-evenly;
}
.container-box{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}
.container-box .container-left .container-right{
    width: 100%;
    height: 300px;
}
.container-left{
    width: 30%;
    float: left;
    box-sizing: border-box;
    margin: 5px 100px;
}
.updown{
    border: 5px solid black;
    width: 0.1px;
    height: 50px;
}
.container-right{
    width: 30%;
    float: right;
    box-sizing: border-box;
    margin: 5px 100px;
}
.container-right button:hover{
    cursor: pointer;
    font-weight: bold;
}
.container_input{
    background-color: #f5f3f3;
    justify-content: space-between;
    flex-direction: row;
    padding: 50px 0; margin: 10px 0;
    border-radius: 17px;
}
.button{
    width: 500px;
    margin: auto;
    display: block;
}
.black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.6);
    top:0;left: 0;right: 0;bottom: 0;
    z-index: 1;

}
#modal_btn1:hover{
    cursor: pointer;
}
.modal_wrap{
    display: none;
    width: 550px;
    height: 250px;
    position: absolute;
    top:59%;
    left: 47%;
    margin: -250px 0 0 -250px;
    background:#eee;
    z-index: 2;
    border-radius: 17px;
}
.modal_close{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 4px;
    right: 5px;
}
.modal_close > img{
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}
.modal_close>img:hover{
    cursor: pointer;
}
#modal_btn1{
    position: relative;
    float: right;
    bottom: 35px;
}
.modal_wrap #form_add{
    display: inline-block;
    width: 350px; height: 400px;
    top: 12%; left: 20%;
    position: relative;
}
.form_add_nic{
    display: flex;
    justify-content: space-between;
}
.form_add_nic button{
    margin: 0 5px;
    height: 26px;
}
.modal_wrap p{
    text-align: center; 
    font-weight: bold;
    font-size: 17px;
}
#form_add div{
    margin: 5px 0;
}
#form_add button:hover{
    cursor: pointer;
    font-weight: bold;
}
.wrapper{
    position: relative;
    float: right;
    top: 5px;
}
.wrapper2{
    position: relative;
    float: right;
    bottom: 25%;
}
#text_content{
    width: 100%;
    margin-top: 10px;
    resize: none;
}
#period1{
    display: inline;
}
#period2{
    display: inline;
}
#switch{
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.switch_label{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 50px; height: 24px;
    background-color: #fff;
    border: 2px solid #daa;
    border-radius: 20px;
    transition: 0.2s;
}
.switch_label:hover{
    background: #e5e5e5;
}
.onoff{
    position: absolute;
    top: 2px; left: 2px;
    display: inline-block;
    width: 20px; height: 20px;
    border-radius: 20px;
    background: #daa;
    transition: 0.2s;
}
#switch:checked+.switch_label{
    background: rgb(255, 0, 0);
    border: 2px solid rgb(231, 152, 152);;
}
#switch:checked+.switch_label:hover{
    background: #e55;
}
#switch:checked+.switch_label .onoff{
    left: 27px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}
.wrapper2{
    position: absolute;
    right: 0%;
}
#switch2{
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.switch_label2{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 50px; height: 24px;
    background-color: #fff;
    border: 2px solid #daa;
    border-radius: 20px;
    transition: 0.2s;
}
.switch_label2:hover{
    background: #e5e5e5;
}
.onoff2{
    position: absolute;
    top: 2px; left: 2px;
    display: inline-block;
    width: 20px; height: 20px;
    border-radius: 20px;
    background: #daa;
    transition: 0.2s;
}
#switch2:checked+.switch_label2{
    background: rgb(255, 0, 0);
    border: 2px solid rgb(231, 152, 152);;
}
#switch2:checked+.switch_label2:hover{
    background: #e55;
}
#switch2:checked+.switch_label2 .onoff2{
    left: 27px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}
#period_select2{
    position: absolute;
    width: 300px;
    bottom: 15%;
}
.date_select1{
    width: 100%; left: 10px;
    display: inline-block;
    position: relative; 
}
.date_select2{
    width: 80%;
    text-align: center;
    margin-left: 15px;
}
#period_select{
    position: relative;
    width: 300px;
    top: 30%;
}
.button_input button{
    width: 100px;
    margin: auto;
    display:block;
}

footer{
    width: 100%;
    height: 13%;
    background-color: #F9F7F7;
    bottom: 0;
    color: rgb(116, 116, 116);
    position: fixed;
}
footer img{
    position: fixed;
    width: 103px;
    margin: 0 17px;
    display:block;
    color: white;
    display: inline-block;
    z-index: 999;
}
footer p{
    position: relative;
    margin:0 120px;
    top: 17px;
}
/*@media screen and (max-width: 1000px) {
    .container-box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }
    .container-left{
        align-items: center;
    } .container-right{
        align-items: center;
    }
}*/